.c-form {
  @include custumRadius(3px);
  display: block;
  background-color: $background-body-color;
  font-size: 14px;
  padding: 9px 25px 9px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #dfd8d8;
  &:focus {
    outline: none;
    border: 2px solid #1e73be;
  }
  &__wrapp {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
  }
  &__search {
    position: relative;
    &__icon {
      position: absolute;
      font-size: 20px;
      top: 25%;
      right: 2%;
    }
  }
  &__check {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    position: relative;
  }
  &__edit {
    position: relative;
    z-index: 3;
    width: 77%;
    display: inline-block;
    font-size: 1rem;
    height: 27px;
  }
}
