.l-main {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__sub {
    width: 60%;
  }
  &__bg{
    background-color:#2c2e43;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
