// 共通設定（読み込み順序を指定したい場合は1つずつファイルを記述する）
@import "foundation/reset";
@import "foundation/var";
@import "foundation/color";
@import "foundation/mixin";
@import "foundation/base";

// レイアウト
@import "layout/*";

// コンポーネント
@import "object/component/*";

// プロジェクト
@import "object/component/project/*";

//ユーティリティ
@import "object/utility/*";
